.ghostwriting-container{
    width: 100%;
    height: auto;
  }

  .ghost {
    display: flex;
    background-image: url('../../images/ghostwritinghero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main-ghost {
    width: 75%;
    float: left;
    padding: 30px;
  }
  .menu-ghost {
    width: 25%;
    float: left;
    padding: 280px;
  }
  .main-header-ghost{
    color: rgb(41, 41, 98);
    font-size: 65px;
    padding: 10px 0px;
  }
  .para-ghost{
    color: rgb(65, 61, 61);
    font-size: 20px;
  }
  span{
    color: black;
    font-weight: bold;
  }

  .btn{
    top: 90px;
    background-color: rgb(41, 41, 98); /* Green */
    border: none;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .btn-ghost-one{
    background-color:rgb(41, 41, 98);
    color: white;
    margin: 10px;
  }

  .btn:hover {
    background-color: rgb(76, 157, 197);
    color: white;
    border: none;
  }

  
.what-we-do{
    background-color: rgb(76, 157, 197);
    padding: 40px;
    color: #fff;
  
  }
  .what-we-do-head{
  position: relative;
  text-align: center;
  padding: 50px;
  bottom: 32px;
  }
  .what-we-do-headers{
    color: rgb(41, 41, 98);
  }
  .content {
    flex-basis: calc(25% - 20px); /* 25% width for each box with 20px spacing between boxes */
    margin-bottom: 20px; /* Spacing between rows */
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
  }
  .btn_shadow {
    padding: 18px 25px;
    border-radius: 6px;
    transition: 0.3s all ease;
    cursor: pointer;
    color: #000;
    transition: 0.5s;
    
  }
  .btn_shadow:hover {
    color: white;
    transform: translateY(-10px);
  }
  
  .box {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
  .what-we-do-params{
    color: white;
    text-align: justify;
    padding: 7px;
  }

  



  .ghost-writring-what-we-do{
    margin: 4rem 6rem;
    color: #2a2a2a;
  }

  .ghost-header{
    color: rgb(41, 41, 98);
    text-align: center;
    font-size: 34px;
  }
  .ghost-service{
    text-align: center;
    font-size: 23px;
    padding-bottom: 23px;

  }
 /* Add these styles to make the boxes appear side by side with four per row */
 .featured-background {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box {
    flex: 1 0 calc(25% - 20px); /* Four boxes per row with some spacing */
    margin: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s; /* Add transition for smooth effect */
  }
  
  .box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box shadow on hover */
  }
  .gtext{
    color: black;
  }


  .our-work {
    text-align: center;
    padding: 50px;
    color: rgb(41, 41, 98);;
  }
  
  .work-img {
    position: relative;
    top: 20px;
    width: 15%; /* Adjust this value to fit five images per row */
    height: 15em; /* Adjust this value to maintain the aspect ratio */
    margin: 1%;
    display: inline-block;
    box-shadow: 0 -7px 3px -3px black, 0 7px 3px -3px black;
    border-radius: 6px 0px 0px 6px;
  }
  
  .work-img:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }


