.nonfiction-container{
    width: 100%;
    height: auto;
  }

  .leadership {
    display: flex;
    background-image: url('../../images/pages/leadership.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  

  .main-leadership {
    width: 75%;
    float: left;
    padding: 30px;
  }
  .menu-ghost {
    width: 25%;
    float: left;
    padding: 280px;
  }
  .main-header-leadership{
    color: rgb(41, 41, 98);
    font-size: 65px;
    padding: 10px 0px;
  }