.selfhelp-container{
    width: 100%;
    height: auto;
  }

  .selfhelp {
    display: flex;
    background-image: url('../../images/pages/self-help.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main-selfhelp {
    width: 75%;
    float: left;
    padding: 30px;
  }
  .menu-ghost {
    width: 25%;
    float: left;
    padding: 280px;
  }
  .main-header-selfhelp{
    color: white;
    font-size: 65px;
    padding: 10px 0px;
  }